.delivery {
  position: relative;
  .delivery__backgroundImg {
    background-image: url("../../assets/delivery/back-delivery.png");
    background-repeat: no-repeat;
    background-position: 32px 39px;
    width: 1421px;
    height: 268px;
    position: absolute;
    top: -7px;
  }
  .delivery__title {
    & h1 {
      padding-top: 90px;
      font-size: 35px;
      font-weight: 600;
      text-transform: uppercase;
      color: var(--white, #fff);
      max-width: 569px;
    }
  }
  .delivery__info {
    padding-top: 150px;
    & h2 {
      font-size: 35px;
      font-weight: 600;
      text-transform: uppercase;
    }

    & p {
      padding: 50px 0px 20px 0px;
      font-size: 16px;
      font-weight: 500;
    }
    & ul {
      display: flex;
      gap: 20px;
      padding-bottom: 65px;

      & li {
        padding: 10px 20px;
        background: #f4f7fb;
        border-radius: 5px;
        font-weight: 400;
        font-size: 16px;
        line-height: 17px;
        cursor: pointer;
      }

      .active {
        border: 1.3px solid #6f73ee;
        border-radius: 5px;
        background-color: #fff;
      }
    }
  }
  .delivery__info-msk {
    display: flex;
    gap: 30px;
    flex-direction: column;

    & dl {
      display: flex;
      gap: 250px;
      & dd {
        max-width: 300px;
      }
    }
  }
}
