.testDrive {
  margin-top: 113px;
  position: relative;

  .testDrive__backgroundImg {
    background-image: url("../../assets/testDrive/backgroundImg.jpg");
    background-repeat: no-repeat;
    background-position: 32px 39px;
    width: 1421px;
    height: 499px;
    position: absolute;
    top: -118px;
    left: -2px;
  }

  .testDrive__recording {
    padding-bottom: 150px;

    & span {
      font-weight: 500;
      font-size: 12px;
      line-height: 17px;
      color: #ffffff;
      padding-bottom: 19px;

      & b {
        font-weight: 400;
        color: #ffffff;

        opacity: 0.7;
      }
    }

    & h2 {
      font-weight: 600;
      font-size: 35px;
      line-height: 51px;
      text-transform: uppercase;
      color: #ffffff;
      max-width: 612px;
      padding-bottom: 7px;
    }

    & p {
      font-weight: 400;
      font-size: 20px;
      line-height: 29px;
      color: #ffffff;
      padding-bottom: 30px;
    }

    & ul {
      display: flex;
      gap: 90px;
      font-size: 14px;
      line-height: 18px;
      padding-left: 55px;
      padding-bottom: 40px;

      & li {
        max-width: 136px;
        position: relative;
        color: #ffffff;
      }

      .zipper {
        &:before {
          content: "";
          background-image: url("../../assets/testDrive/svg/zipper.svg");
          position: absolute;
          width: 40px;
          height: 40px;
          left: -55px;
        }
      }
      .scooter {
        &:before {
          content: "";
          background-image: url("../../assets/testDrive/svg/scooter.svg");
          position: absolute;
          width: 40px;
          height: 40px;
          left: -55px;
        }
      }
    }
    & button {
      font-size: 16px;
      line-height: 23px;
      text-align: center;
      color: #6f73ee;
      padding: 15px 40px;

      border: 1.3px solid #ffffff;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .testDrive__info {
    padding-bottom: 100px;
    &:before {
      content: "";
      background-image: url("../../assets/testDrive/svg/back_scooter.png");
      position: absolute;
      width: 515px;
      height: 422px;
      left: 728px;
    }
    & h3 {
      font-weight: 600;
      font-size: 35px;
      line-height: 51px;
      text-transform: uppercase;
      max-width: 645px;
      padding-bottom: 30px;
    }
    & span {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }

    & ul {
      padding-top: 18px;
      & li {
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        position: relative;
        padding-left: 32px;
        padding-bottom: 10px;

        &:before {
          content: "";
          background-image: url("../../assets/testDrive/svg/check.svg");
          position: absolute;
          width: 22px;
          height: 22px;
          left: 0px;
        }
      }
    }
  }
}
